
@font-face {font-family: "iconfont";
  src: url('../iconfont/iconfont.eot?t=1489821645399'); /* IE9*/
  src: url('../iconfont/iconfont.eot?t=1489821645399#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../iconfont/iconfont.woff?t=1489821645399') format('woff'), /* chrome, firefox */
  url('../iconfont/iconfont.ttf?t=1489821645399') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../iconfont/iconfont.svg?t=1489821645399#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:40px;
  font-style:normal;
  color: #E8E8E8;
  line-height: 1.04rem;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shuangjiantou:before { content: "\e647"; }

