
@font-face {font-family: "iconfont";
  src: url('../iconfont/iconfont.eot?t=1489915528978'); /* IE9*/
  src: url('../iconfont/iconfont.eot?t=1489915528978#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../iconfont/iconfont.woff?t=1489915528978') format('woff'), /* chrome, firefox */
  url('../iconfont/iconfont.ttf?t=1489915528978') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../iconfont/iconfont.svg?t=1489915528978#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size: 20px;
  font-style:normal;
  color: white;
  float: left;
  margin-right: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youxiang:before { content: "\e61d"; }

.icon-qq:before { content: "\e648"; }

.icon-weixin:before { content: "\e64b"; }

.icon-icon:before { content: "\e60c"; }

.icon-js:before { content: "\e605"; }

.icon-ai:before { content: "\e6a6"; }

.icon-ps2:before { content: "\e6bf"; }

.icon-ui-copy-copy:before { content: "\e601"; }


