main{
	width: 100%;
	height: 100%;
}
.bigtitle{
	width: 100%;
	height: 100%;
}
.bigtitle{
	font-size: 0.28rem;
    line-height: 0.28rem;
    color: #9B9B9B;
    padding: 0.3rem 0;
}
.bigtu{
	overflow: hidden;
}
.tulist{
	float: left;
    width: 33.33333%;
    margin: 0.1rem 0;
}
.list-img1{
	background: url('../img/1.jpg');
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: center center;
	padding: 76% 0 0;
    width: 76%;
    margin: 0 auto;
}
.tulist p{
	line-height: 0.46rem;
    height: 0.46rem;
    padding: 0.08rem 0;
    font-size: 0.28rem;
    color: #5D5D5D;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.list-img2{
	background: url('../img/2.jpg');
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: center center;
	padding: 76% 0 0;
    width: 76%;
    margin: 0 auto;
}
.list-img3{
	background: url('../img/3.jpg');
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: center center;
	padding: 76% 0 0;
    width: 76%;
    margin: 0 auto;
}
.list-img4{
	background: url('../img/4.jpg');
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: center center;
	padding: 76% 0 0;
    width: 76%;
    margin: 0 auto;
}
.list-img5{
	background: url('../img/5.jpg');
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: center center;
	padding: 76% 0 0;
    width: 76%;
    margin: 0 auto;
}
.list-img6{
	background: url('../img/6.jpg');
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: center center;
	padding: 76% 0 0;
    width: 76%;
    margin: 0 auto;
}
.list-img7{
	background: url('../img/7.jpg');
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: center center;
	padding: 76% 0 0;
    width: 76%;
    margin: 0 auto;
}
.list-img8{
	background: url('../img/8.jpg');
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: center center;
	padding: 76% 0 0;
    width: 76%;
    margin: 0 auto;
}
.list-img9{
	background: url('../img/9.jpg');
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: center center;
	padding: 76% 0 0;
    width: 76%;
    margin: 0 auto;
}
.list-img10{
	background: url('../img/10.jpg');
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: center center;
	padding: 76% 0 0;
    width: 76%;
    margin: 0 auto;
}
.list-img11{
	background: url('../img/11.jpg');
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: center center;
	padding: 76% 0 0;
    width: 76%;
    margin: 0 auto;
}
.list-img12{
	background: url('../img/12.jpg');
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: center center;
	padding: 76% 0 0;
    width: 76%;
    margin: 0 auto;
}
.list-img13{
	background: url('../img/13.jpg');
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: center center;
	padding: 76% 0 0;
    width: 76%;
    margin: 0 auto;
}
.list-img14{
	background: url('../img/14.jpg');
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: center center;
	padding: 76% 0 0;
    width: 76%;
    margin: 0 auto;
}
.list-img15{
	background: url('../img/15.jpg');
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: center center;
	padding: 76% 0 0;
    width: 76%;
    margin: 0 auto;
}

.list-img16{
	background: url('../img/16.jpg');
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: center center;
	padding: 76% 0 0;
    width: 76%;
    margin: 0 auto;
}
.list-img17{
	background: url('../img/17.jpg');
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: center center;
	padding: 76% 0 0;
    width: 76%;
    margin: 0 auto;
}
.list-img18{
	background: url('../img/18.jpg');
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: center center;
	padding: 76% 0 0;
    width: 76%;
    margin: 0 auto;
}
.list-img19{
	background: url('../img/19.jpg');
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: center center;
	padding: 76% 0 0;
    width: 76%;
    margin: 0 auto;
}
.list-img20{
	background: url('../img/20.jpg');
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: center center;
	padding: 76% 0 0;
    width: 76%;
    margin: 0 auto;
}
.list-img21{
	background: url('../img/21.jpg');
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: center center;
	padding: 76% 0 0;
    width: 76%;
    margin: 0 auto;
}
.list-img22{
	background: url('../img/22.jpg');
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: center center;
	padding: 76% 0 0;
    width: 76%;
    margin: 0 auto;
}
.list-img23{
	background: url('../img/23.jpg');
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: center center;
	padding: 76% 0 0;
    width: 76%;
    margin: 0 auto;
}
.list-img24{
	background: url('../img/24.jpg');
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: center center;
	padding: 76% 0 0;
    width: 76%;
    margin: 0 auto;
}