body{
	font-family: "苹方","微软雅黑";
}
header{
	font-size: 12px;  /* 字体属性可以从父元素继承 */
	color: #808080;
	width: 100%;
	height: 32px;
	border-bottom: 1px solid #cccccc;
	background: #f7f7f7;
	line-height: 32px;
}
header a:hover{
	color:red;
}
.header-main{
	width: 1200px;
	height: 100%;
	background: #f7f7f7;
	margin: 0 auto;/* 只能让块元素居中 */
}
.header-right{
	width: 432px;
	height: 100%;
	background: #f7f7f7;
	float: right;
}
.welcome{
	float: left;/* 元素浮动后回脱离文档流 */
}
.denglu{
	width: 77px;
	height: 100%;
	background: #f7f7f7;
	float: left;
	margin-left: 20px;
}
.login{
	float: left;
}
.regist{
	float: right;
}
.fenge{
	float: left;
	margin-left: 11.5px;
}
.dingdan{
	width: 48px;
	height: 100%;
	background: #f7f7f7;
	float: left;
	margin-left: 14px;
}
.mydingdan{
	float: left;
}
.gonggao{
	width: 72px;
	height: 100%;
	background: #f7f7f7;
	float: left;
	margin-left: 16px;
}
.laba{
	width: 18px;
	height: 20px;
	float: left;
	margin-top: 6px;
	background-image: url('../img/notice.png');
	
}
.wangzhan{
	float: right;
}
.icon{
	width: 38px;
	height: 100%;
	background: #f7f7f7;
	float: left;
	margin-left: 13px;
}
.ewm{
	width: 148px;
	height: 168px;
	position: absolute;
	top: 25px;
	right: 0px;
	border: 1px solid #ccc;
	display: none;
}
.ewm img{
	width: 100%;
	height: 100%;
}
.wx{
	float: left;
	margin-top: 6px;
	position: relative;
	z-index: 10;
}
.wx:hover .ewm{
	display: block;
}
.wb{
	float: right;
	margin-top: 6px;
}
.beijing{
	width: 1200px;
	height: 100%;
	margin: 0 auto;
	margin-top: 22px;
}
.beijing .sougou{
	width: 438px;
	height: 29px;
	float: right;
}
.gouwuche{
	float: right ;
	width: 105px;
	height: 29px;
	background-image: url('../img/vanclsprite.png');
	background-position: -153px 0px;
	position: relative;
}
.xiaoche1{
	width: 315px;
	height: auto;
	background: #fff;
	border: 1px solid #b81c22;
	position: absolute;
	right: -1px;
	top: 28px;
	font-size: 12px;
	font-family: '微软雅黑';
	color: #333;
	display: none;
	padding: 0 5px;
}
.gouwuche:hover{
	border: 1px solid #b81c22;
	background-position: -153px -29px;
}
.gouwuche:hover .xiaoche1{
	display: block;;
}
.xiaoche{
	font-size: 16px;
	color: #ffffff;
	float: right;
	margin-right: 15px;
}
.gouwuche:hover .xiaoche{
	color: #b61c24;
}
.sd{
	width: 308px;
	height: 29px;
	float: left;
}
.sousuo{
	float: right ;
	width: 48px;
	height: 29px;
	background-image: url('../img/vanclsprite.png');
	background-position: -100px 0px;
}
.btn{
	background: #b61c24;
	color: white;
	border: 1px;
}
.kuang{
	float: left;
	font-size: 12px;

}
.remen{
	width: 438px;
	height: 100%;
	background: #ffffff;
	float: right;
	margin-top: 8px;
	margin-right: 83px;
}
.remenss{
	width: 60px;
	height: 100%;
	background: #ffffff;
	float: left;
}
.mt{
	width: 48px;
	height: 100%;
	background: #ffffff;
	margin-left: 13px;
	float: left;
}
.yrf{
	width: 36px;
	height: 100%;
	background: #ffffff;
	margin-left: 11px;
	float: left;
}
.ymdy{
	width: 48px;
	height: 100%;
	background: #ffffff;
	margin-left: 11px;
	float: left;
}
.znkw{
	width: 48px;
	height: 100%;
	background: #ffffff;
	margin-left: 11px;
	float: left;
}
.hwx{
	width: 36px;
	height: 100%;
	background: #ffffff;
	margin-left: 11px;
	float: left;
}
.xxk{
	width: 36px;
	height: 100%;
	background: #ffffff;
	margin-left: 11px;
	float: left;
}
.pbtx{
	width: 43px;
	height: 100%;
	background: #ffffff;
	margin-left: 11px;
	float: left;
}
nav{
	width: 1200px;
	height: 89px;
	background: #ffffff;
	margin: 0 auto;
	margin-top: 93px;
}
.logo{
	float: left;
}
.title{
	width: 810px;
	height: 46px;
	float: left;
	font-size: 16px;
	line-height: 46px;
	color: #7283a8;
	text-align: center;
}
.dandu{
	width: 90px;
	height: 30px;
	float: left;
	margin-left: 45px;
	font-size: 16px;
	line-height: 46px;
	color: #7283a8;
	text-align: center;
}
.title li{
	width: 89px;
    height: 30px;
    float: left;
    position: relative;
    z-index: 20;
}
.title li a:hover{
	color: #B81C22;
}
.sy1{
	width: 1px;
	height: 16px;
	background: #ccc;
	margin-top: 16px;
	float: left;
}
.title li .seclists{
	width: 89.1px;
    height: 0;
    position: absolute;
    top: 46px;
    left: 0px;
    background: #fff;
    overflow: hidden;
    transition: all 0.5s;
}
.seclists .top {
    width: 89.1px;
    height: 5px;
    border-top: 5px solid #B81C22;
}
.seclists li:not(.top) {
    width: 89.1px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
.banner0{
	width: 100%;
	height: 535px;
	float: left;
	position: relative;
}
.banner{ 
	width: 1200px;
	height: 100%;
	margin: 0 auto;
	position: relative;

}
.banner img{
	position: absolute;
	top: 0;
	left: 0;
	margin:0 auto;
}
.banner img:nth-child(1){
	z-index: 1;
}

.left{
	width: 28px;
	height: 70px;
	left: 6%;
  	top: 260px;
  	position: absolute;
  	z-index: 10;
	background-image: url('../img/focus_lr0918.png');
	background-position: 0px 5px;
	cursor: pointer;
}
.right{
	width: 28px;
	height: 70px;
	right: 6%;
  	top: 260px;
  	position: absolute;
  	z-index: 10;
	background-image: url('../img/focus_lr0918.png');
	background-position: -53px 5px;
	z-index: 5;
	cursor: pointer;
}
.hezi{
	width: 112px;
	height: 12px;
    position: absolute;
    top: 500px;
    left:600px ;
	z-index: 2;
}
.hezi ul{
	width: 112px;
	height: 12px;
	justify-content: space-between;
	display: flex;
}
.hezi ul li{
	border-radius: 50%;
	width: 10px;
	height: 10px;
	background: black;
	cursor:pointer;
}
.hezi ul li:nth-child(1){
	background: white;
}
.yushou{
	width: 1200px;
	height: 130px;
	margin: 0 auto;
	background: #ffffff;
	overflow: hidden;
}
.xinpin{
	font-size: 16px;
	color: #727171;
	line-height: 130px;
	text-align: center;
}
.tupian{
	width: 1200px;
	background: #ffffff;
	margin: 0 auto;
	overflow: hidden;
}
.tupian img{
	width: 100%;
	height: 100%;
}
.tu1{
	width: 391px;
	height: 600px;
	float: left;
}
.tu2{
	width: 391px;
	height: 600px;
	float: left;
	margin-left: 14px;
}
.tu3{
	width: 390px;
	height: 600px;
	float: left;
	margin-left: 14px;
}
.hanguogou{
	width: 1200px;
	margin-left: 76px;
	background: #ffffff;
	float: left;
	overflow: hidden;
}
.dazhe{
	font-size: 16px;
	color: #727171;
	line-height: 111px;
	text-align: center;
}
.juti{
	width: 1200px;
	background: #ffffff;
	overflow:hidden;
}
.juti img{
	width: 100%;
	height: 100%;
}
.zuo{
	width: 590px;
	height: 509px;
	background: #ffffff;
	float: left;
}
.shang{
	width: 100%;
	height: 439px;
}
.xia{
	width: 100%;
	height: 69px;
	border-bottom: 1px solid #e8e7ec;
	border-right: 1px solid #e8e7ec;
	border-left: 1px solid #e8e7ec;
}
.maoshan{
	font-size: 15px;
	color: #727171;
	float: left;
	line-height: 69px;
	margin-left: 13px;
}
.jiage{
	font-size: 15px;
	color: #b50000;
	float: right;
	line-height: 69px;
	margin-right: 13px;
}
.zhong{
	width: 290px;
	height: 509px;
	background: #ffffff;
	float: left;
	margin-left: 17px;
}
.shang1{
	width: 100%;
	height: 248px;
}
.aa{
	width: 100%;
	height: 180px;
}
.bb{
	width: 100%;
	height: 69px;
	background: #ffffff;
	border-bottom: 1px solid #e8e7ec;
	border-right: 1px solid #e8e7ec;
	border-left: 1px solid #e8e7ec;
}
.majia{
	font-size: 15px;
	color: #727171;
	float: left;
	line-height: 69px;
	margin-left: 13px;
}
.jiage1{
	font-size: 15px;
	color: #b50000;
	float: right;
	line-height: 69px;
	margin-right: 13px;
}
.xia1{
	width: 100%;
	height: 258px;
	background: #ffffff;

}
.cc{
	width: 100%;
	height: 191px;
}
.dd{
	width: 100%;
	height: 69px;
	border-bottom: 1px solid #e8e7ec;
	border-right: 1px solid #e8e7ec;
	border-left: 1px solid #e8e7ec;
}
.ee{
	font-size: 15px;
	color: #727171;
	float: left;
	line-height: 69px;
	margin-left: 13px;
}
.ff{
	font-size: 15px;
	color: #b50000;
	float: right;
	line-height: 69px;
	margin-right: 13px;
}
.you{
	width: 286px;
	height: 509px;
	background: #ffffff;
	float: left;
	margin-left: 17px;
}
.shang2{
	width: 100%;
	height: 439px;
	background: #ffffff;
}
.xia2{
	width: 100%;
	height: 69px;
	border-bottom: 1px solid #e8e7ec;
	border-right: 1px solid #e8e7ec;
	border-left: 1px solid #e8e7ec;
}
.chenshan{
	font-size: 15px;
	color: #727171;
	float: left;
	line-height: 69px;
	margin-left: 13px;
}
.zhongxia{
	width: 1200px;
	height: 52px;
	background: #ffffff;
	margin-top: 10px;
	margin: 0 auto;
}
.xiabu{
	width: 1200px;
	height: 284px;
	border-left: 1px solid #e8e7ec;
	border-right: 1px solid #e8e7ec;
	border-bottom: 1px solid #e8e7ec;
	border-top: 1px solid #e8e7ec;
	margin-left: 75px;
	overflow: hidden;
	margin-top: 10px;
}
.yi img{
	width: 100%;
	height: 100%;
}
.er img{
	width: 100%;
	height: 100%;
}
.san img{
	width: 100%;
	height: 100%;
}
.shang3{
	width: 1200px;
	height: 192px;
	overflow: hidden;
}
.yi{
	width: 411px;
	height: 195px;
	float: left;
}
.er{
	width: 371px;
	height: 195px;
	float: left;
}
.san{
	width: 416px;
	height: 195px;
	float: left;
}
.si{
	width: 1px;
	height: 138px;
	float: left;
}
.xia3{
	width: 1200px;
	height: 99px;
	overflow: hidden;
}
.gy{
	width: 1118px;
	height: 57px;
	background: #f8f8f8;
	float: left;
	margin-left: 41px;
}
.gywm{
	font-size: 11px;
	margin-left: 65px;
	margin-top: 25px;
	color: #727171;
	float: left;
}
.q{
	width: 1px;
	height: 26px;
	background: #dadadb;
	margin-top: 17px;
	margin-left: 66px;
	float: left;
}
.xszn{
	font-size: 11px;
	margin-left: 65px;
	margin-top: 25px;
	color: #727171;
	float: left;
}
.ps{
	font-size: 11px;
	margin-left: 65px;
	margin-top: 25px;
	color: #727171;
	float: left;
}
.zffs{
	font-size: 11px;
	margin-left: 65px;
	margin-top: 25px;
	color: #727171;
	float: left;
}
.shfw{
	font-size: 11px;
	margin-left: 65px;
	margin-top: 25px;
	color: #727171;
	float: left;
}
.bzzx{
	font-size: 11px;
	margin-left: 65px;
	margin-top: 25px;
	color: #727171;
	float: left;
}
.xian{
	width: 1200px;
	height: 100%;
	margin-left: 75px;
}
.wu{
	width: 1200px;
	height: 26px;
}
.wu img{
	width: 100%;
	height: 100%;
}
.weibu{
	width: 1349px;
	height: 143px;
	margin-top: 17px;
}
.zi{
	width: 828px;
	height: 37px;
	margin-left: 190px;
}
.yihang{
	font-size: 12px;
	text-align: center;
}
.erhang{
	font-size: 12px;
	text-align: center;
	margin-top: 1px;
}
.tutu{
	width: 828px;
	height: 116px;
	margin-left: 190px;
	overflow: hidden;
}
.cx{
	width: 112px;
	height: 40px;
	margin-left: 45px;
	margin-top: 40px;
	float: left;
}
.zg{
	width: 154px;
	height: 42px;
	margin-left: 21px;
	margin-top: 38px;
	float: left;
	border:1px solid #c9c8c8;
}
.ws{
	width: 96px;
	height: 42px;
	margin-left: 24px;
	margin-top: 41px;
	float: left;
}
.jy{
	width: 101px;
	height: 42px;
	margin-left: 27px;
	margin-top: 43px;
	float: left;
}
.cao{
	width: 42px;
	height: 42px;
	margin-left: 29px;
	margin-top: 39px;
	float: left;
}
.ys{
	width: 120px;
	height: 39px;
	margin-left: 20px;
	margin-top: 42px;
	float: left;
}
.dingbu{
	width: 75px;
	height: 206px;
	position: fixed;
	right: 10px;
	bottom: 50px;
	z-index: 30;
}
.top{
	width: 75px;
	height: 57px;
	/*background-color: yellow;*/
	position: absolute;
	bottom: 0;
	left:0;
	cursor: pointer;
}