.banner1{
	width: 100%;
	height: 400px;
	background-image: url('../img/images/banner_02.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	overflow: hidden;
}
.lianjiebox{
	width: 1000px;
	height: 18px;
	margin: 0 auto;
	margin-top: 34px;
}
.lianjie{
	width: 200px;
	height: 18px;
	font-size: 16px;
	color: #474646;
	line-height: 18px;
	
}
.class{
	width: 1000px;
	height: 76px;
	margin: 0 auto;
	margin-top: 76px;
	display: flex;
	justify-content: space-between;
}
.class li{
	width: 30%;
	height: 100%;
	border: 1px solid #549a31;
	overflow: hidden;
}
.class-zi{
	width: 100%;
	height: 24px;
	font-size: 24px;
	color: #383737;
	text-align: center;
	margin-top: 15px;
}
.class-zi1{
	width: 100%;
	height: 12px;
	font-size: 12px;
	color: #989797;
	text-align: center;
	margin-top: 10px;
}
.class-1{
	width: 1000px;
	height: 100%;
	overflow: hidden;
	margin: 0 auto;
	margin-bottom: 100px;
}
.class-2{
	width: 1000px;
	height: 100%;
	overflow: hidden;
	margin: 0 auto;
	background: #f5f5f5;
}
.class-1-title{
	width: 100%;
	height: 55px;
	margin-top: 64px;
	overflow: hidden;
}
.class-1-jtz{
	width: 33.333%;
	height: 9px;
	margin-top: 22px;
	float: left;
	background-image: url('../img/images/jiantou3_28.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.class-1-middle{
	width: 33.333%;
	height: 100%;
	float: left;
}
.class-1-jty{
	width: 33.333%;
	height: 9px;
	margin-top: 22px;
	background-image: url('../img/images/jiantou3_37.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	float: right;
}
.class-1-middle-zi{
	width: 100%;
	height: 30px;
	font-size: 30px;
	color: #474646;
	text-align: center;
	line-height: 30px;
}
.class-1-middle-zi1{
	width: 100%;
	height: 12px;
	font-size: 12px;
	text-align: center;
	color: #989797;
	margin-top: 10px;
}
.class-1-juti{
	width: 100%;
	height: 100%;
	margin-top: 66px;
	overflow: hidden;
}
.yquan{
	width: 100%;
	height: 150px;
	display: flex;
	justify-content: space-between;
}
.yquan li{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background: #5e9280;
	font-size: 28px;
	font-family: "微软雅黑";
	font-weight: bold;
	text-align: center;
	line-height: 150px;
	color: #fff;
}
.yquan li:nth-child(1){
	margin-left: 20px;
}
.yquan li:nth-child(4){
	margin-right: 20px;
}
.yquan-zi{
	width: 100%;
	height: 97px;
	display: flex;
	justify-content: space-between;
}
.yquan-zi li{
	width: 18%;
	height: 100%;
	margin-top: 29px;
	font-size: 12px;
	color: #989797;
	line-height: 25px;
	overflow: hidden;
}
.class-1-free{
	width: 522px;
	height: 55px;
	margin: 0 auto;
	margin-top: 109px;
	margin-bottom: 100px;
}
.free-l{
	width: 320px;
	height: 100%;
	font-size: 30px;
	line-height: 55px;
	float: left;
}
.free{
	width: 122px;
	height: 100%;
	color: #549a31;
	float: left;
}
.free1{
	width: 196px;
	height: 100%;
	color: #575757;
	float: left;
}
.free-r{
	width: 202px;
	height: 100%;
	float: right;
	background: #549a31;
	border-radius: 3px;
	font-size: 28px;
	font-family: "微软雅黑";
	color: #e1fbed;
	font-weight: bold;
	text-align: center;
	line-height: 55px;
}
.juti-tu{
	width: 100%;
	height: 210px;
	display: flex;
	justify-content: space-between;
	position: relative;
	font-size: 32px;
	color: #fff;
	font-family: "微软雅黑";
	text-align: center;
	line-height: 210px;
}
.juti-tu li{
	width: 330px;
	height: 100%;
}
.juti-tumask{
	width: 330px;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.6);
}
.juti-tumask1{
	width: 330px;
	height: 100%;
	position: absolute;
	left: 335px;
	top: 0;
	background: rgba(0, 0, 0, 0.6);
}
.juti-tumask2{
	width: 330px;
	height: 100%;
	position: absolute;
	left: 670px;
	top: 0;
	background: rgba(0, 0, 0, 0.6);
}
.juti-tu li img{
	width: 100%;
	height: 100%;
}
.juti-tu-zi{
	width: 100%;
	height: 303px;
	display: flex;
	justify-content: space-between;
}
.juti-tu-zi li{
	width: 300px;
	height: 100%;
	overflow: hidden;
	margin-left: 19px;
	color: #0f0f0f;
}
.juti-tu-zi-title{
	width: 100%;
	height: 20px;
	font-size: 18px;
	line-height: 20px;
	margin-top: 24px;
}
.juti-tu-zi-con{
	width: 100%;
	height: 110px;
	font-size: 14px;
	line-height: 20px;
	margin-top: 30px;
	text-align: justify;
}
.juti-btn{
	width: 157px;
	height: 35px;
	font-size: 16px;
	color: #e1fbed;
	font-family: "微软雅黑";
	background: #549a31;
	border-radius: 3px;
	text-align: center;
	line-height: 35px;
	margin: 0 auto;
	margin-top: 55px;
}
.free-z{
	width: 250px;
	height: 55px;
	border-radius: 3px;
	background: #549a31;
	font-size: 28px;
	color: #cae9d1;
	font-family: "微软雅黑";
	font-weight: bold;
	text-align: center;
	line-height: 55px;
	margin: 0 auto;
	margin-top: 109px;
}
.juti-left{
	width: 32%;
	height: 450px;
	background-image: url('../img/19.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	float: left;
}
.juti-leftmask{
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	overflow: hidden;
}
.leftmask-zi{
	width: 100%;
	height: 36px;
	font-size: 30px;
	color: #fff;
	text-align: center;
	line-height: 36px;
	margin-top: 50px;
}
.leftmask-zi1{
	width: 90%;
	height: 100px;
	font-size: 14px;
	color: #fff;
	text-align: justify;
	line-height: 25px;
	margin: 0 auto;
	margin-top: 60px;
}
.juti-right{
	width: 67%;
	height: 450px;
	background: pink;
	float: right;
}
.juti-right-top{
	width: 100%;
	height: 225px;
	display: flex;
	justify-content: space-between;
	overflow: hidden;
}
.juti-right-top li{
	width: 33.333%;
	height: 225px;
	background: #dfdef4;
}
.juti-right-top li:nth-child(2){
	background: #f5f5f5;
}
.juti-right-bottom{
	width: 100%;
	height: 225px;
	display: flex;
	justify-content: space-between;
}
.juti-right-bottom li{
	width: 33.333%;
	height: 225px;
	background: #f5f5f5;
}
.juti-right-bottom li:nth-child(2){
	background: #dfdef4;
}
.juti-right-top-1{
	width: 100%;
	height: 36px;
	font-size: 24px;
	color: #383737;
	font-weight: bold;
	line-height: 36px;
	text-align: center;
	margin-top: 75px;
}
.juti-right-top-2{
	width: 100%;
	height: 24px;
	font-size: 16px;
	color: #0f0f0f;
	line-height: 24px;
	text-align: center;
	margin-top: 24px;
}