header .header-top{
	width: 100%;
	height: 40px;
	background: #444444;
}
.header-top main{
	max-width: 976px;
	height: 100%;
	margin: 0 auto;
}
.header-top main div{
	float: right;
	line-height: 40px;
	font-size: 12px;
	color: #a8a8a8;.

}
.header-nav{
	width: 100%;
	height: 44px;
	background: rgba(0, 0, 0, 0.6);
}
.header-nav main ul li{
	display: inline-block;
}
.header-nav main ul{
	text-align: justify;
	line-height: 44px;
	color: #fff;
} 
.header-nav main ul:after{
	content: "";
	display: inline-block;
	height: 0px;
	width: 100%;
}
.header-nav main{
		height: 100%;
		padding: 0 22px;
		margin: 0 auto;
}
.banner{
	width: 100%;
	height: 550px;
	position: relative;
}
.banner-box{
	width: 100%;
	height: 100%;
}
.banner-box a{
	display: block;
	width: 100%;
	height: 100%;
}
.banner .left-btn,.banner .right-btn{
	width: 10%;
	height: 100%;
	position: absolute;
	/* left: 0; */
	top: 0;
	margin: auto;
}
.banner .left-btn{
	left: 0;
}
.banner .right-btn{
	right: 0;
}
.banner .btn{
	width: 64px;
	height: 64px;
	background: #ccc;
	border-radius: 50%;
	position: absolute;
	top: 220px;
	font-size: 40px;
	color: gray;
	text-align: center;
	line-height: 64px;
	opacity: 0;
	transition: all 0.5s linear;
}
.banner .left-btn .btn{
	left: 20px;
}
.banner .right-btn .btn{
	right: 20px;
}
.banner .left-btn:hover .btn{
	opacity: 1;
}
.banner .right-btn:hover .btn{
	opacity: 1;
}
.banner .lunbo{
	width: 170px;
	height: 40px;
	position: absolute;
	left: 0px;
	right: 0px;
	top: 500px;
	margin: auto;
}
.lbx{
	width: 50px;
	height: 40px;
	float: left;
	margin-right: 6px;
	border-top: 2px solid #222222;
}
.lbx1{
	width: 50px;
	height: 40px;
	float: left;
	margin-right: 6px;
	border-top: 2px solid #fff;
}
footer{
	font-size: 11px;
	width:100%;
	height: 100%;
    background-color: #f2f2f2;
    color: #333;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.footer-main{
 	max-width: 1024px;
	margin: 0 auto;
	padding: 0 24px;
	margin: 0 auto;
    padding: 0 22px;
    max-width: 980px;
}
.footer1{
	width: 100%;
	border-bottom: 1px solid #d6d6d6;
    color: #888;
    padding: 17px 0 11px;
}


.footer3-1{
	border-bottom: 1px solid #d6d6d6;
    margin-bottom: 7px;
    padding-bottom: 6px;
}
.footer3-1 a:hover{
	border-bottom: 1px solid #4067FC;
}
.footer3-2{
	position: relative;
}
.footer3-2-1{
	margin-right: 30px;
    float: left;
    margin-top: 3px;
}
.footer3-2-2{
	margin-right: 30px;
    float: left;
    margin-top: 3px;
}
.footer3-2-2 a{
	border-right: 1px solid #d6d6d6;
    margin-right: 10px;
    padding-right: 12px;
    display: inline-block;
    white-space: nowrap;
}
.footer3-2-tu{
	float: right;
    margin-top: 3px;
    position: relative;
    top: -3px;
    z-index: 2;
    white-space: nowrap;
}
.footer3-2 .footer3-2-tu .zhongguo{
	float: right;
    margin-top: 3px;
    margin-left: 5px; 
}
.footer3-2-3{
	float: right;
    margin-top: 3px;
    position: relative;
    top: -3px;
    z-index: 2;
    white-space: nowrap;
}
.footer3 .aya{
	float: left;
}
.footer3 a{
	color: #888;
} 
.footer3 a:hover{
	border-bottom: 1px solid #888; 
} 
 footer a{
	color: #4d4d4d;
}
footer a:hover{
	color: #4d4d4d;
	border-bottom: 1px solid #4d4d4d;
}/* 
.foot2 .foot-middle{
width: 100%;
height:100%;
}
.foot2 .foot-middle li h3{
	color: #4d4d4d;
	margin-bottom: 6px;
}
.foot2 .foot-middle .xiaozi{
	float: left;
}
.foot2 .foot-middle li{
	margin-right: 20px;
	margin-bottom: 6px;
} */
.xiaozi{
	width: 20%;
	float: left;
}
.xiaozi li:nth-child(1){
	color: black;
}
.xiao{
	height: 40px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 0 17px;
	line-height: 40px;
	text-align: left;
}
/* 屏幕大于1024px的变化 */
@media screen and (min-width: 1024px) {
	.header-top main{
		max-width:976px;
		height:100%;
		margin: 0 auto;
	}
	.header-nav main{
		max-width: 1024px;
		padding: 0 22px;
	}
	.banner-box a{
		background-image: url('../img/macbookpro_large.jpg');
		background-position: center bottom;
		background-size: contain;
		background-repeat: no-repeat;
	}
	.foot2{
		max-width: 976px;
		margin: 0 auto;
		overflow: hidden;
	}
	.footer3{
	max-width: 980px;
	overflow: hidden;
	color: #888;
    padding: 28px 0 21px;
}
	.pic1{
		width: 25%;
		height: 200px;
		float: left;
		border-top: 1px solid #fff;
		border-right: 1px solid #fff;
		background-image: url('../img/11large.jpg');
		background-position: center center;
		background-size: 100% 100%;
		background-repeat: no-repeat;
	}
		.pic2{
			width: 25%;
		height: 200px;
		float: left;
		border-top: 1px solid #fff;
		border-right: 1px solid #fff;
		background-image: url('../img/12large.jpg');
		background-position: center center;
		background-size: 100% 100%;
		background-repeat: no-repeat;
	}
		.pic3{
			width: 25%;
		height: 200px;
		float: left;
		border-top: 1px solid #fff;
		border-right: 1px solid #fff;
		background-image: url('../img/13_large).jpg');
		background-position: center center;
		background-size: 100% 100%;
		background-repeat: no-repeat;
	}
		.pic4{
		width: 25%;
		height: 200px;
		float: left;
		border-top: 1px solid #fff;
		border-right: 1px solid #fff;
		background-image: url('../img/iphone_upgrade_large.jpg');
		background-position: center center;
		background-size: 100% 100%;
		background-repeat: no-repeat;
	}
}
/* 屏幕小于1024px的变化 */
@media screen and (max-width: 1024px){
	.header-top main{
		padding: 0 25px;
		height: 100%;
		margin: 0 auto;
	}
	.header-nav main{
		padding: 0 22px;
		height: 100%;
		margin: 0 auto;
	}
	.banner-box a{
		background-image: url('../img/macbookpro_medium.jpg');
		background-position: center center;
		background-size: contain;
		background-repeat: no-repeat;
	}
	.foot2{
		overflow: hidden;
		margin-left: 20px;
		margin-right: 20px;
		margin: 0 auto;
		width: 20%；
	}
	.footer3{
		overflow: hidden;
		margin-left: 20px;
		margin-right: 20px;
	/* width: 980px;
	height: 109px; */
	color: #888;
    padding: 28px 0 21px;
}
	.pic1{
		width: 50%;
		height: 200px;
		float: left;
		border-top: 1px solid #fff;
		border-right: 1px solid #fff;
		background-image: url('../img/11medium.jpg');
		background-position: center center;
		background-size: 100% 100%;
		background-repeat: no-repeat;
	}
		.pic2{
			width: 50%;
		height: 200px;
		float: left;
		border-top: 1px solid #fff;
		border-right: 1px solid #fff;
		background-image: url('../img/12medium.jpg');
		background-position: center center;
		background-size: 100% 100%;
		background-repeat: no-repeat;
	}
		.pic3{
			width: 50%;
		height: 200px;
		float: left;
		border-top: 1px solid #fff;
		border-right: 1px solid #fff;
		background-image: url('../img/13medium.jpg');
		background-position: center center;
		background-size: 100% 100%;
		background-repeat: no-repeat;
	}
		.pic4{
		width: 50%;
		height: 200px;
		float: left;
		border-top: 1px solid #fff;
		border-right: 1px solid #fff;
		background-image: url('../img/iphone_upgrade_medium.jpg');
		background-position: center center;
		background-size: 100% 100%;
		background-repeat: no-repeat;
	}
}

/* 屏幕小于768px的变化 */
@media screen and (max-width: 768px){
	.header-nav main .max-nav{
	display: none;
	}
	.header-nav main .min-nav{
	display: block;
	}
	.xiaozi{
		display: none;
	}
	.banner-box a{
		background-image: url('../img/macbookpro_small.jpg');
		background-position: center center;
		background-size: contain;
		background-repeat: no-repeat;
	}
	.foot2{
		width: 100%;
		overflow: hidden;
	}
	.xiaozi2{
	font-size: 14px;
	
}
	.pic1{
		width: 100%;
		height: 200px;
		float: left;
		border-top: 1px solid #fff;
		border-right: 1px solid #fff;
		background-image: url('../img/11small.jpg');
		background-position: center center;
		background-size: 100% 100%;
		background-repeat: no-repeat;
	}
		.pic2{
			width: 100%;
		height: 200px;
		float: left;
		border-top: 1px solid #fff;
		border-right: 1px solid #fff;
		background-image: url('../img/12small.jpg');
		background-position: center center;
		background-size: 100% 100%;
		background-repeat: no-repeat;
	}
		.pic3{
			width: 100%;
		height: 200px;
		float: left;
		border-top: 1px solid #fff;
		border-right: 1px solid #fff;
		background-image: url('../img/13small.jpg');
		background-position: center center;
		background-size: 100% 100%;
		background-repeat: no-repeat;
	}
		.pic4{
		width: 100%;
		height: 200px;
		float: left;
		border-top: 1px solid #fff;
		border-right: 1px solid #fff;
		background-image: url('../img/iphone_upgrade_small.jpg');
		background-position: center center;
		background-size: 100% 100%;
		background-repeat: no-repeat;
	}
}
@media screen and (min-width: 768px){
	.header-nav main .max-nav{
	display: block;
	}
	.header-nav main .min-nav{
	display: none;
	}
	.xiaozi2{
	display: none;
	}
	.xiaozi{
	display: block;
	}
}
.picture{
	width: 100%;
	height: 204px;
}