.box{
	width: 100%;
	height: auto;
}
.banner{
	width: 100%;
	height: 3.62rem;
	background-image: url('../img/1.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.banner-top{
	width: 100%;
	height: 0.9rem;
	background: -webkit-linear-gradient(top,rgba(0,0,0,.7),rgba(0,0,0,0));
	position: relative;
	position: fixed;
	top: 0;
	left: 0;

}
.menu{
	width: 0.5rem;
	height: 0.5rem;
	background-image: url('../img/汉堡包.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: absolute;
	left: 0.36rem;
	top: 0.2rem;
	float: left;
}
.search{
	position: absolute;
    top: 0.25rem;
    right: 1.4rem;
    width: 0.4rem;
    height: 0.4rem;
    border: 0;
    z-index: 1;
	background-image: url('../img/搜索_搜索.png');
	background-size: 0.4rem 0.4rem;
    background-color: #fff;
}
.login{
    height: 0.9rem;
    line-height: 0.9rem;
    color: #fff;
    font-size: 0.36rem;
    position: absolute;
    right: 0.35rem;
}
.lunbo{
	width: 100%;
	height: 0.28rem;
	float: left;
	margin-top: 3.2rem;

}
.lunbo ul{
	width: 1.5rem;
	margin: 0 auto;
}
.circle{
	margin: 0 0.02rem;
    width: 0.14rem;
    height: 0.14rem;
    opacity: .5;
    float: left;
    border: 0.02rem solid rgba(0,0,0,.5);
    border-radius: 50%;
    background: #000;
}
.circle1{
	margin: 0 0.02rem;
    width: 0.14rem;
    height: 0.14rem;
    opacity: .5;
    float: left;
    border: 0.02rem solid rgba(0,0,0,.5);
    border-radius: 50%;
    background: #fff;
}
.content{
	width: 100%;
	height: 2.68rem;
	overflow: hidden;
	/* background: #000; */
}
.content ul{
	width: 100%;
	height: 1.26rem;
	/* background: pink; */
}
.content .top{
	margin-bottom: 0.16rem;
}
.content ul li{
	width: 20%;
	height: 100%;
	float: left;
	font-size: 0.24rem;
	text-align: center;
	/* background: yellow; */
}
.tu-box{
	width: 0.72rem;
	height:  0.72rem;
	margin: 0 auto;
	margin-bottom: 0.1rem;
	margin-top: 0.1rem;
}
.tu-box img{
	width: 100%;
	height: 100%;
}
.toutiao{
	width: 100%;
	height: 1.2rem;
	overflow: hidden;
	position: relative;
	border: 0.02rem solid #e7e7e7;
}
.toutiao-middle{
	width: 100%;
	height: 0.8rem;
	margin-top: 0.2rem;
}
.toutiao-logo{
    position: absolute;
    height: 0.8rem;
    width: 1.34rem;
	
    padding-right: 0.2rem;
    top: 0.2rem;
    left: 0;
    background-image: url('../img/12.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.toutiaoxian{
	width: 0.02rem;
	height: 0.8rem;
	background: #e7e7e7;
	position: absolute;
	left: 1.44rem;
	top: 0.2rem;
}
.toutiao-logo1{
    position: absolute;
    height: 0.44rem;
    width: 0.44rem;
    padding-right: 0.2rem;
    top: 0.35rem;
    left: 1.54rem;
    background-image: url('../img/13.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.tou-title{
	height: 0.36rem;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 98%;
	font-size: 0.24rem;
	padding-left: 0.1rem;
	position: absolute;
	left: 2rem;
}
.tou-title1{
	height: 0.36rem;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 98%;
	font-size: 0.24rem;
	padding-left: 0.1rem;
	position: absolute;
	left: 2rem;
	top: 0.6rem;
	color: #ff2f2f;
}
.neirong{
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: #F0F0F0;
}
.huadong{
	width: 100%;
	height: 2.22rem;
	background: #F0F0F0;
}
.dong1{
	width: 3.52rem;
	height: 2.17rem;
	float: left;
}
.dong1 img{
	width: 100%;
	height: 100%;
}
.chakan{
	width: 0.28rem;
	height: 1.72rem;
	background: #F0F0F0;
	font-size: 0.24rem;
	float: right;
}
.biqiang{
	width: 100%;
	height: 0.5rem;
	font-size: 0.28rem;
	margin-top: 0.1rem;
}
.biqiang-nei{
	width: 4rem;
	height: 100%;
	text-align: center;
	margin: 0 auto;
}
.hot{
	width: 0.3rem;
	height: 0.3rem;
	float: left;
	margin-right: 0.2rem;
}
.hot img{
	width: 100%;
	height: 100%;
}
.hot-line{
	width: 0.6rem;
	height: 0.02rem;
	background: red;
	float: left;
	margin-top: 0.15rem;
	margin-right: 0.2rem;
	margin-left: 0.2rem;
}
.hot-line1{
	width: 0.6rem;
	height: 0.02rem;
	background: red;
	float: left;
	margin-top: 0.15rem;	
}
.biqiang-zi{
	font-size: 0.3rem;
	color: red;
	float: left;
	margin-right: 0.2rem;
}
.biqiang-zi-1{
	font-size: 0.3rem;
	color: #4A84E2;
	float: left;
	margin-right: 0.2rem;
}
.hot-line-1{
	width: 0.6rem;
	height: 0.02rem;
	background: #4A84E2;
	float: left;
	margin-top: 0.15rem;
	margin-right: 0.2rem;
	margin-left: 0.2rem;
}
.hot-line1-1{
	width: 0.6rem;
	height: 0.02rem;
	background: #4A84E2;
	float: left;
	margin-top: 0.15rem;	
}
.biqiang-shop{
	width: 100%;
	height: 100%;
	/* margin-bottom: 0.04rem; */
}
.shop{
	width: 100%;
	height: 2.74rem;
	background: white;
}
.shop-list{
	width: 1.85rem;
	height: 100%;
	float: left;
}
.list-title{
	width: 100%;
	margin-top: 0.1rem;
    color: #2F2F2F;
    font-size: 0.16rem;
    text-align: center;
}
.list-pic{
	width: 1.58rem;
	height: 1.58rem;
	margin-left: 0.15rem;
}
.list-pic img{
	width: 100%;
	height: 100%;
}
.list-price{
	color: #ff2e2e;
    font-size: 10px;
    height: 14px;
    margin-left: 0.25rem;
}
.chaoliu-shop{
	width: 100%;
	height: 100%;
	/* margin-bottom: 0.04rem; */
}
.chaoliu-list{
	width: 100%;
	height: 3.04rem;
}
.ku{
	width: 2.5rem;
	height: 100%;
	float: left;
}
.ku img{
	width: 100%;
	height: 100%;
}
.pinpaitemai-shop{
	width: 100%;
	height: 100%;
	/* margin-bottom: 0.04rem; */
}
.pinpaitemai-list{
	width: 100%;
	height: 2.2rem;
}
.temai{
	width: 3.75rem;
	height: 2.21rem;
	float: left;
}
.temai img{
	width: 100%;
	height: 100%;
}
.zixun-shop{
	width: 100%;
	height: 100%;
	/* margin-bottom: 0.04rem; */
}
.zixun-list{
	width: 100%;
	height: 3.5rem;
}
.zixun-tu{
	width: 2.5rem;
	height: 3.51rem;
	float: left;
}
.zixun-tu img{
	width: 100%;
	height: 100%;
}
.zixun-tu-1{
	width: 100%;
	height: 1.865rem;
}
.zixun-tu-1 img{
	width: 100%;
	height: 100%;
}
.life-shop{
	width: 100%;
	height: 100%;
}
.life-list{
	width: 4.165rem;
	height: 1.46rem;
	float: left;

}
.life-list img{
	width: 100%;
	height: 100%;
}
.life1{
	width: 3.315rem;
	height: 2.91rem;
	float: left;
}
.life1 img{
	width: 100%;
	height: 100%;
}
.neirong1{
	width: 100%;
	height: 100%;
	background: #F0F0F0;
}
.jingxuan-shop{
	width: 100%;
	height: 100%;
}
.jingxuan-list{
	width: 100%;
	height: 2.65rem;
}
.jingxuan{
	width: 1.865rem;
	height: 2.65rem;
	float: left;
}
.jingxuan img{
	width: 100%;
	height: 100%;
}
.hangye-shop{
	width: 100%;
	width: 100%;
	background: white;
}
.hangye1{
	width: 3.75rem;
	height: 2.02rem;
	float: left;
}
.hangye1-1{
	width: 1.865rem;
	height: 0.78rem;
	float: left;
	background: white;
	text-align: center;
}
.hangye1-zi1{
	margin-top: 7px;
    font-size: 13px;
    font-weight: 700;
}
.hangye1-zi2{
	margin-top: 3px;
    font-size: 12px;
    color: #9B9B9B;
}
.hangye1-tu{
	width: 50%;
    height: 100%;
    float: left;
}
.hangye1-tu img{
	width: 100%;
    height: 100%;
}
.hangye2{
	width: 1.875rem;
	height: 2.57rem;
	float: left;
}
.hangye2-1{
	width: 1.875rem;
	height: 0.64rem;
	float: left;
	text-align: center;
}
.hangye2-tu{
	width: 1.5rem;
    height: 1.5rem;
    float: none;

    margin: 0.1rem auto;
}
.hangye2-tu img{
	width: 100%;
	height: 100%;
}
.neirong2{
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: #F0F0F0;
}
.qijian-shop{
	width: 100%;
	width: 100%;
	/* background: white; */
}
.qijian1{
	width: 3.75rem;
	height: 3.18rem;
	padding: 0.04rem;
	float: left;
}
.qijian1-1{
	width: 3.67rem;
	height: 2.44rem;
}
.qijian1-1-1{
	width: 2.44rem;
	height: 2.44rem;
	float: left;
}
.qijian1-1-1 img{
	width: 100%;
	height: 100%;
}
.qijian1-1-2{
	width: 1.22rem;
	height: 2.44rem;
	float: right;
}
.qijian1-1-2-1{
	width: 1.2rem;
	height: 1.2rem;
}
.qijian1-1-2-1 img{
	width: 100%;
	height: 100%;
}
.qijian1-3{
	width: 3.67rem;
	height: 0.6rem;
	margin-top: 0.06rem;
}
.qijian1-3-1{
	width: 0.48rem;
	height: 0.48rem;
	float: left;
	background-image: url('../img/72.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.qijian1-3-2{
	width: 2.46rem;
	height: 0.54rem;
	float: left;
	margin-left: 0.1rem;
}
.qijian1-3-3{
	width: 2.4rem;
	height: 0.24rem;
	font-size: 0.24rem;
	color: #999;
}
.qijian1-3-4{
	width: 0.48rem;
	height: 0.48rem;
	float: left;
	background-image: url('../img/73.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.qijian1-3-5{
	width: 0.48rem;
	height: 0.48rem;
	float: left;
	background-image: url('../img/80.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.qijian1-3-6{
	width: 0.48rem;
	height: 0.48rem;
	float: left;
	background-image: url('../img/84.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.neirong3{
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: #F0F0F0;
}
.love{
	width: 100%;
	height: 100%;
}
.love-shop{
	width: 100%;
	height: 5.14rem;
}
.love-list{
	width: 3.72rem;
	height: 5.08rem;
    margin-bottom: 0.06rem;
    /* margin-right: 0.6rem; */
    float: left;
    background: #fff;
}
.love-list-1{
	width: 3.72rem;
	height: 5.08rem;
    margin-bottom: 0.06rem;
    margin-left: 0.06rem;
    float: left;
    background: #fff;
}
.love-list1{
	width: 100%;
	height: 3.72rem;

}
.love-list1 img{
	width: 100%;
	height: 100%;
}
.love-list2{
	width: 3.4rem;
	height: 1.44rem;
	padding: 0.2rem 0.16rem 0.16rem;
    text-align: left;
}
.love-list2-1{
	width: 100%;
	height: 0.6rem;
	font-size: 0.28rem;
    color: #666;
    overflow: hidden;
}
.love-list2-2{
	width: 100%;
	height: 0.52rem;
    line-height: 0.52rem;
    color: #dd2727;
    font-size: 0.32rem;
}
.end{
	width: 100%;
	height: 100%;
}
.end-tu{
	width: 100%;
	height: 0.8rem;
	background-image: url('../img/1.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.end-xian{
	width: 100%;
	height: 0.02rem;
	background: #000;
}
.end-wei{
	width: 100%;
	height: 2.02rem;
}
.end-note{
	width: 100%;
	height: 0.28rem;
	text-align: center;
    color: #999;
    margin-top: 0.38rem;
    font-size: 0.202rem;
}
.note-zi1{
	margin-right: 2%;
    color: #999;
    float: left;
    margin-left: 15%;
}
.note-zi{
	margin: 0 2%;
    color: #999;
    float: left;
}
.end-jie{
	width: 100%;
	height: 1.32rem;
	text-align:center;
	padding:30px 0 22px; 
	color:#ccc; 
	font-size: 12px
}